In [2]:
'''source: https://www.w3resource.com/python-exercises/tuple/'''
'''1. Write a Python program to create a tuple.'''

a = (1,2,3,4)
a

(1, 2, 3, 4)

In [3]:
type(a)

tuple

In [4]:
'''2. Write a Python program to create a tuple with different data types.'''

b = (1, "l", 8, [1,2,3,4])
b

(1, 'l', 8, [1, 2, 3, 4])

In [5]:
type(b)

tuple

In [6]:
'''3. Write a Python program to create a tuple with numbers and print one item.'''

c = (1,2,3,4,5)
c[0]

1

In [10]:
'''4. Write a Python program to unpack a tuple in several variables.'''

a1, a2, a3 = 10, 20, 30
a = a1, a2, a3
print(a)

(10, 20, 30)

In [12]:
'''5. Write a Python program to add an item in a tuple.'''

a = (10, 20)
b = 5
c = a + (b,)
print(c)

(10, 20, 5)

In [13]:
'''6. Write a Python program to convert a tuple to a string. '''

a = (10, 20)
str(a)

'(10, 20)'

In [5]:
'''7. Write a Python program to get the 4th element and 4th element from last of a tuple.'''

t = (1,2,3,4,5,6,7,8,9,10)
a = t[3]
print(a)
b = t[-4]
print(b)

4
7

In [13]:
'''9. Write a Python program to find the repeated items of a tuple.'''

from collections import Counter

t = (1,2,3,4,5,2,3)
Counter(t)

Counter({1: 1, 2: 2, 3: 2, 4: 1, 5: 1})

In [14]:
'''10. Write a Python program to check whether an element exists within a tuple.'''

1 in t

True

In [15]:
7 in t

False

In [16]:
'''11. Write a Python program to convert a list to a tuple. '''

l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [17]:
'''12. Write a Python program to remove an item from a tuple.'''

l[1:]

[2, 3, 4]

In [19]:
'''13. Write a Python program to slice a tuple.'''

t = (1,2,3,4,5,6)
t = t[2:]
t

(3, 4, 5, 6)

In [25]:
'''14. Write a Python program to find the index of an item of a tuple.'''

t = (1,2,3,4,5,6)
print(t.index(4))

3

In [26]:
'''15. Write a Python program to find the length of a tuple.'''
len(t)

6

In [31]:
'''16. Write a Python program to convert a tuple to a dictionary.'''
t = ((1,2), (3,4), (5,6))
d = dict(t)
d

{1: 2, 3: 4, 5: 6}

In [40]:
'''17. Write a Python program to unzip a list of tuples into individual lists.'''

t = [(1,2), (3,4), (5,6)]
print(list(zip(*t)))

[(1, 3, 5), (2, 4, 6)]

In [41]:
'''18. Write a Python program to reverse a tuple.'''

t = (1,2,3,4,5,6)
t[::-1]

(6, 5, 4, 3, 2, 1)

In [2]:
'''19. Write a Python program to convert a list of tuples into a dictionary.'''

t = [('a', 1), ('b', 2), ('c', 3), ('d', 4)]
d = dict(t)
t

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [3]:
'''20. Write a Python program to print a tuple with string formatting. 
Sample tuple : (100, 200, 300)
Output : This is a tuple (100, 200, 300)'''

def string_tuple(t):
    print("This is a tuple " + str(t))

t = (100, 200, 300)
string_tuple(t)

This is a tuple (100, 200, 300)

In [11]:
'''21. Write a Python program to replace last value of tuples in a list. 
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]'''


a = [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
[t[:-1] + (100,) for t in a]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [21]:
'''22. Write a Python program to remove an empty tuple(s) from a list of tuples.
Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']'''

L = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
L = [t for t in L if t]
print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [29]:
'''23. Write a Python program to sort a tuple by its float element. 
Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]'''

t = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted(t, key=lambda x: float(x[1]), reverse=True)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [34]:
'''24. Write a Python program to count the elements in a list until an element is a tuple.'''

l = [[1, 2, 3], "lll", 99, (9, 8, 8)]
def count_elem(l):
    c = 0
    for i in l:
        if isinstance(i, tuple):
            break
        c+=1
    return c

count_elem(l)

3